<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "TorTracker", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex relative divide-x-2 w-full h-full">

    <div id="levo" class="flex flex-col pt-19 w-1/6 min-w-[227px] gap-y-4 bg-white justify-between">
      <%= render "navigation.html", assigns %>
    </div>

  <!-- chartovi - sredina -->
    <div class="w-4/6">
      <%= @inner_content %>
    </div>
    <div id="desno" class="w-1/6 bg-slate-100"></div>
  </body>
</html>
