<section class="row">
  <%= for fingerprint <- @info_fingerprints do %>
    <%= live_render(@socket, TorTrackerWeb.RelayInfoLive.Single, id: "relay_info:" <> fingerprint, session: %{"info_fingerprint" => fingerprint}) %>
  <% end %>
</section>
